<!doctype html>
{% load bootstrap4 %}
{% block content %}
<head>
    <h1 style="text-align: center">Hello - this is our Library</h1>
</head>
<body>
    <form style="text-align: center" method="get" action="/book/add">
        <button type="submit">Add book</button><br>
    </form>
    <form style="text-align: center" method="get" action="list/">
        <button type="submit">Books List</button>
    </form>
    <div>
        {% if user.is_authenticated %}
        <a>
            {% if user.first_name %}Hello, {{ user.first_name }}!
            {% else %}Hello, {{ user.username }}!{% endif %}
        </a><br>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a>You are not logged in.</a>
        <div>
            <a href="{% url 'login' %}">Login</a><br>
            <a href="{% url 'sign_up' %}">Sign Up</a>
        </div>
        {% endif %}
    </div>
</body>
{% endblock %}