{% extends "base.html" %}
{% block content %}

<h1>Books List:</h1>
    <ul>
        {% for book in object_list %}

        <li>
            <strong>{{book.title}}</strong>
            <a href="/book_info/{{book.id}}" class="btn btn-info">Sprawdź szczegóły</a>
        </li>

        {% endfor %}
    </ul>

{% endblock %}